*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: #A4A4A4!important;
}

.btn-black{
  background-color: black;
  color: white;
}

.btn-black:hover{
  color: white;
}